apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: prometheus-stack
  namespace: monitoring
spec:
  url: https://prometheus-community.github.io/helm-charts
  interval: 5m0s