apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/hotrod
  - ../base/online-boutique-arm64

patches:
  # checkoutservice
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: checkoutservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "checkoutservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: ENABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: checkoutservice
  
  # currencyservice
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: currencyservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "currencyservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: currencyservice
  
  # emailservice
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: emailservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "emailservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: emailservice
  
  # frontend
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: frontend
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: ENABLE_TRACING
                  value: "1"
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "frontend"
                - name: ENABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: frontend
  
  # paymentservice
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: paymentservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "paymentservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: paymentservice
  
  # productcatalogservice
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: productcatalogservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "productcatalogservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: productcatalogservice
  
  # recommendationservice
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: recommendationservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "recommendationservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: recommendationservice
  
  # shippingservice
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: shippingservice
      spec:
        template:
          spec:
            containers:
              - name: server
                env:
                - name: COLLECTOR_SERVICE_ADDR
                  value: "alloy.alloy.svc.cluster.local:4317"
                - name: OTEL_SERVICE_NAME
                  value: "shippingservice"
                - name: ENABLE_TRACING
                  value: "1"
                - name: DISABLE_PROFILER
                  value: "1"
    target:
      kind: Deployment
      name: shippingservice
